<h1>Models#new</h1>
<p>Find me in app/views/models/new.html.erb</p>
<%= form_for @models do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
  
    <%= f.label :age %>
    <%= f.text_field :age %>
  
    <%= f.label :hair_color %>
    <%= f.text_area :hair_color %>
  
    <%= f.label :eye_color %>
    <%= f.text_area :eye_color %>

    <%= f.label :gender %>
    <%= f.text_area :gender %>

    <%= f.label :alive %>
    <%= f.text_area :alive %>

    <%= f.submit %>
  <% end %>